body{
	background: #e3e6e7 url(images/background.png) repeat;
	color: #61686d;
	font: 14px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: lighter;
	padding-bottom: 60px;
}

#page {
	background: #ffffff;
	width: 878px;
	margin: 0 auto;
	margin-top: 80px;
	display: block;
	border: 1px solid #c4c7c7;
	padding: 40px 40px 50px 40px;
	position: relative;
	z-index: 0;
}

.page-shadow {
	background-image: url(images/page-shadow.png);
	width: 992px;
	height: 60px;
	margin: 0 auto;
	margin-top: -1px;
	z-index: 1;
	position: relative;
}

h1 {
	color: #4d5357;
	font-weight: lighter;
	font-size: 32px;
	margin: 40px 0 0 0;
}

.terms {
	float: left;
	width: 400px;
	margin: 0 0 40px 0;
	font-size: 12px;
	color: #a1a7ac;
	line-height: 180%;
}

.terms strong {
	font-size: 16px;
}

.recipient-address {
	padding-top: 60px;
	width: 200px;
}

.company-logo {
	width: 202px;
	height: 81px;
	position: absolute;
	right: 40px;
	top: 40px;
}

.company-address {
	width: 200px;
	color: #a1a7ac;
	position: absolute;
	right: 40px;
	top: 130px;
	text-align: right;
}

.status {
	position: absolute;
	top: -5px;
	left: -5px;
	text-indent: -5000px;
	width: 128px;
	height: 128px;
}

.draft {
	background-image: url(images/status-draft.png);
}

.sent {
	background-image: url(images/status-sent.png);
}

.paid {
	background-image: url(images/status-paid.png);
}

.overdue {
	background-image: url(images/status-overdue.png);
}

hr {
	clear: both;
	border: none;
	background: none;
	border-bottom: 1px solid #d6dde2;
}

.pay-buttons {
	text-align: center;
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
}
.pay-paypal {
	display: block;
	width: 200px;
	height: 45px;
	background:  url('images/pay-buttons.png') no-repeat;
	text-indent: -5000px;
	background-position: 0 0;
	float: left;
}

.pay-paypal:hover {
	background-position: 0 -45px;
}

.pay-paypal:active {
	background-position: 0 -90px;
}

.pay-card {
	display: block;
	float: left;
	width: 165px;
	height: 45px;
	background:  url('images/pay-buttons.png') no-repeat;
	text-indent: -5000px;
	background-position: -200px 0;
}

.pay-card:hover {
	background-position: -200px -45px;
}

.pay-card:active {
	background-position: -200px -90px;
}

.total-due {
	float: right;
	width: 200px;
	border: 1px solid #d6dde2;
	margin: 0 0 40px 0;
	padding: 0;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	text-align: right;
}

.total-heading {
	background: #e7ebee;
	height: 24px;
	color: #63676b;
	text-shadow: 0 1px 1px #ffffff;
	padding: 8px 20px 0 0;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid #d6dde2;
	font-weight: bold;
}

.total-heading p, .total-amount p {
	margin: 0; padding: 0;
}

.total-amount {
	padding: 15px 20px 15px 0;
	color: #4d5357;
	font-size: 28px;
}

table.tablesorter {
	width: 100%;
	text-align: left;
	border: 1px solid #d6dde2;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	margin: 40px 0;
	color: #a1a7ac;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	margin: 0;
}
table.tablesorter thead tr .header {
	background: #e7ebee url(images/arrows-both.png) no-repeat center right;
	cursor: pointer;
	height: 40px;
	color: #63676b;
	text-shadow: 0 1px 1px #ffffff;
	padding-left: 20px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid #d6dde2;
}
table.tablesorter tbody td {
	padding: 20px;
	vertical-align: top;
}
table.tablesorter tbody tr.even td {
	background: #f6f8f9;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/arrow-up.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/arrow-down.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}

